header{
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

li{
    list-style: none;
}

a{
    color:#2a2a2a;
    text-decoration: none;
}

.navbar{
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
}

.logo{
    width: 60px;
}

.logo img {
    width: 100%;
}

.nav-menu{
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link{
    transition: 0.5s ease;
}

.nav-link:hover{
    color: #0088d2;
}

.hamburguer{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: #252525;
    transition: all 0.3s ease-in-out;
}

.doar {
    padding: 6px 28px;
    border: none;
    border-radius: 8px;
    background-color: #592af5;
}

.doar a {
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 3px 3px #00000024;
}

@media (max-width: 970px){
   .hamburguer{
       display: block;
   }
   .hamburguer.active .bar:nth-child(2){
       opacity: 0;
   }
   .hamburguer.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
    }
    .hamburguer.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        background-color: #fff;
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
        z-index: 1;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }
}