@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin :0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 4px;
    background-color: #d9d9d9;
}

::-webkit-scrollbar-thumb {
    width: 4px;
    background-color: #6b1ed0;
}

/* DEFINIÇÕES GERAIS */

.container {
    width: 100vw;
    height: 100%;
    padding: 32px 20px;
}

h1 {
    font-weight: bold;
    color: #4d39e3;
    font-size: 2rem;
    text-shadow: 0 3px 3px #00000024;
}

a.link {
    padding: 4px 18px;
    font-weight: 600;
    background-color: #3c28d8;
    color: #fff;
    text-shadow: 0 3px 3px #00000024;
    border-radius: 8px;
}

body {
    background-color: #f8f8f8;
    overflow-x: hidden;
}

/* SLIDER */

.containerSlide {
    position: relative;
}

.containerSlide .slide-container .slide {
    min-height: 100vh;
    display: flex;
    align-items: end;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px 9%;
    padding-bottom: 70px;
}

.containerSlide .slide-container .slide .content {
    flex: 1 1 350px;
    animation: slideContent .4s linear .4s backwards;
}

@keyframes slideContent{
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
}

.containerSlide .slide-container .slide .content h3 {
    font-size: 35px;
    color: #fff;
    font-weight: bold;
}

.containerSlide .slide-container .slide .content p {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    width: 40%;
    height: 10%;
}

.containerSlide .slide-container .slide .content .slide-btn {
    margin-bottom: 10px;
    display: inline-block;
    background: #3c28d8;
    color: #fff;
    font-size: 17px;
    padding: 9px 40px;
    border-radius: 5px;
    border: 2px solid #2511b7;
    text-decoration: none;
    transition: ease .3s;
}

.containerSlide .slide-container .slide .content .slide-btn:hover {
    background-color: #4d39e3;
}

.containerSlide .slide-container {
    display: none;
}

.containerSlide .slide-container.active {
    display: block;
}

.containerSlide .slide-container:nth-child(1) .slide {
    background: url('img/IMG-20240208-WA0002.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.containerSlide .slide-container:nth-child(2) .slide {
    background: url('img/IMG-20240208-WA0014.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.containerSlide .slide-container:nth-child(3) .slide {
    background: url('img/IMG-20240208-WA0016.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.containerSlide #prev,
.containerSlide #next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    background-color: #4d39e3;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 50px;
}

.containerSlide #prev:hover,
.containerSlide #next:hover {
    background: #2511b7;
}

.containerSlide #prev {
    left: 20px;
}

.containerSlide #next {
    right: 20px;
}

@media (max-width: 700px) {
    .containerSlide #prev {
        top: 60%;
        left: 0;
    }
    .containerSlide #next {
        top: 60%;
        right: 0;
    }
    .containerSlide .slide-container .slide .content p {
        font-size: 16px;
        color: #fff;
        width: 70%;
        height: 10%;
    }
}

/* PROPÓSITO */

.proposito {
    width: 100vw;
    height: 100%;
}

.proposito .container {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proposito .container h1 {
    margin-bottom: 32px;
}

.proposito .container .content {
    display: grid;
    grid-template-columns: 45% 5% 45%;
    align-items: center;
    justify-content: center;
}

.proposito .container .content .text {
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 30px;
}

.proposito .container .content .text p {
    width: 100%;
    max-width: 500px;
    line-height: 30px;
    font-size: 1.8rem;
    font-weight: 200;
}

.proposito .container .content .purpleBar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.proposito .container .content .purpleBar #purpleBar{
    height: 100%;
    width: 2px;
    border-radius: 2px;
    background-color: #4d39e3;
}

.proposito .container .content .img {
    width: 100%;
    position: relative;
}

.proposito .container .content .img img {
    width: 100%;
    max-width: 430px;
    border-radius: 0 12px 0 12px;
}

.proposito .container .content .img::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #4d39e3;
    border-radius: 0 12px 0 12px;
    top: 10px;
    left: 16px;
    z-index: -1;
}

@media (max-width: 620px) {
    .proposito .container .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .proposito .container .content .text {
        text-align: start;
    }
    .proposito .container .content .purpleBar {
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
    }
    .proposito .container .content .purpleBar #purpleBar{
        height: 2px;
        width: 100%;
        border-radius: 2px;
        background-color: #4d39e3;
    }
}

/* NOTÍCIAS e PROJETOS */

.noticias,
.projetos {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
}

.noticias {
    background-color: #422A61;
}

.projetos {
    background-color: #f5f5f5;
}

.noticias .container h1,
.projetos .container h1 {
    margin-bottom: 60px;
}

.noticias .container h1 {
    color: #f5f5f5;
}

.noticias .container .cards,
.projetos .container .cards {
    justify-content: center;
    justify-items: center;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.noticias .container .cards .card,
.projetos .container .cards .card {
    width: 280px;
    height: 380px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 3px #00000024;
    margin-bottom: 40px;
}

.projetos .container .cards .card {
    border: 1px solid #883FE4;
}

.noticias .container .cards .card .img,
.projetos .container .cards .card .img {
    width: 100%;
    height: 200px;
    background-color: rgb(184, 184, 184);
    border-radius: 8px 8px 0 0;
}

.projetos .container .cards .card .img {
    background-color: #fff;
}

.noticias .container .cards .card .img img,
.projetos .container .cards .card .img img {
    border-radius: 8px 8px 0 0;
}

.noticias .container .cards .card .text,
.projetos .container .cards .card .text {
    text-align: left;
    padding: 12px 16px
}

.noticias .container .cards .card .text h3,
.projetos .container .cards .card .text h3 {
    font-size: 1.2rem;
    font-weight: 700;
    color: #3c28d8;
    margin-top: 28px;
}

.noticias .container .cards .card .text p,
.projetos .container .cards .card .text p {
    font-size: 1.1rem;
    margin-bottom: 18px;
}

.noticias .container > a,
.projetos .container > a {
    text-align: center;
    color: #3c28d8;
    font-size: 1.3rem;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

/* CONTATO */

.contato {
    height: 100%;
    background-color: #422A61;
}

.contato .container {
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.contato .container .box {
    width: 100%;
    max-width: 350px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contato .container .box h1 {
    margin-top: 60px;
    color: #f5f5f5;
}

.contato .container .box form {
    width: 100%;
    margin: 40px 0;
    background-color: #883FE4;
    border-radius: 4px;
    padding: 40px 12px;
    box-shadow: 40px 30px 15px #0000006f;
}

.contato .container .box .inputBox {
    position: relative;
    margin-bottom: 30px;
    width: 100%;
}

.contato .container .box .inputUser {
    background: none;
    border: none;
    border-bottom: 1px solid #5f18bb ;
    outline: none;
    color: #e0e0e0;
    font-size: 15px;
    letter-spacing: 2px;
    width: 100%;
}

.contato .container .box .inputLabel {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: linear .3s;
    color: #fff;
}

.contato .container .box .inputUser:focus ~ .inputLabel,
.contato .container .box .inputUser:valid ~ .inputLabel {
    top: -20px;
    font-size: 12px;
    color: #3c28d8;
}

.contato .container .box #submit {
    background: linear-gradient(to right, #6b1ed0, #7f36da);
    border: none;
    outline: none;
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: ease-in-out .3s;
    &:hover {
        transform: scale(1.03);
    }
}