@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-principal: #4d39e3;
    --cor-secundaria: #3e2bcb;
    --cor-terciaria: #422A61;
    --branco: #f0f0f0;
}

/* DEFINIÇÕES GERAIS */

* {
    margin :0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 4px;
    background-color: #d9d9d9;
}

::-webkit-scrollbar-thumb {
    width: 4px;
    background-color: var(--cor-principal);
}

.container {
    width: 100vw;
    height: 100%;
    padding: 32px 20px;
}

h1 {
    font-weight: bold;
    color: var(--cor-principal);
    font-size: 2rem;
    text-shadow: 0 3px 3px #00000024;
}

a.link {
    padding: 4px 18px;
    font-weight: 600;
    background-color: var(--cor-secundaria);
    color: #fff;
    text-shadow: 0 3px 3px #00000024;
    border-radius: 8px;
}

body {
    background-color: var(--branco);
    overflow-x: hidden;
}
